.AtlasCheckboxSelect {
	padding-top: 30px;
	border-top: 1px solid #e7e7e7;
}

.AtlasTextLink {
	line-height: 2;
	padding-left: 28px;
}

.SiteOverviewAddonSectionTooltip {
	max-width: 215px;
	margin: 10px 10px;
}

.SiteOverviewAddonSectionTooltipLink {
	font-weight: bold;
	margin-top: 20px;
}
