.AtlasCheckboxSelect {
	padding-top: 30px;
}

.Theme__Dark .AtlasCheckboxSelect {
	border-top: 1px solid #5d5e5e;
}

.Theme__Light .AtlasCheckboxSelect {
	border-top: 1px solid #e7e7e7;
}

.AtlasTextLink {
	line-height: 1.5;
	margin-top: 5px;
	margin-left: 28px;
}

.SiteOverviewAddonSectionTooltip {
	max-width: 215px;
	margin: 10px 10px;
}

.SiteOverviewAddonSectionTooltipLink {
	font-weight: bold;
	margin-top: 20px;
}

.SiteEnvironmentContinueButton {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.AtlasBlueprint p {
	max-width: 585px;
}

.AtlasBlueprintList {
	display: flex;
	flex-wrap: wrap;
}

.AtlasBlueprintCard {
	width: 282px;
	margin-bottom: 2%;
	margin-right: 12px;
	flex-grow: initial;
	flex-shrink: initial;
}

.AtlasBlueprintCard .AtlasBluprintCard_HeaderIconContainer {
	padding: 0;
}

.AtlasBlueprintCard_Description {
	flex: 1;
}

.AtlasBlueprintCard img {
	width: 100%;
	height: auto;
}
