.AtlasCheckboxSelect {
	padding-top: 30px;
}

.Theme__Dark .AtlasCheckboxSelect {
	border-top: 1px solid #5d5e5e;
}

.Theme__Dark .AtlasBlueprintCard {
	background-color: #434344;
}

.Theme__Light .AtlasCheckboxSelect {
	border-top: 1px solid #e7e7e7;
}

.AtlasTextLink {
	line-height: 1.5;
	margin-top: 5px;
	margin-left: 28px;
}

.SiteOverviewAddonSectionTooltip {
	max-width: 215px;
	margin: 10px 10px;
}

.SiteEnvironmentContinueButton {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.AtlasBlueprintsDescription {
	max-width: 760px;
}

.AtlasBlueprintsDescription a {
	text-transform: initial;
	font-weight: 500;
	padding-left: 0px;
	padding-right: 0px;
}

.AtlasBlueprintList {
	display: flex;
	flex-wrap: wrap;
}

.AtlasBlueprintCard {
	width: 278px;
	margin-bottom: 10px;
	margin-right: 10px;
	flex-grow: initial;
	flex-shrink: initial;
}

.AtlasBlueprintCard_Links {
	margin-top: 20px;
}

.AtlasBlueprintCard_Links div {
	margin: 20px 0;
}

.AtlasBlueprintCard .AtlasBlueprintCard_HeaderIconContainer {
	padding: 0;
}

.AtlasBlueprintCard_Description {
	flex: 1;
}

.AtlasBlueprintCard img {
	width: 100%;
	height: auto;
}

.AtlasAddWordPress_Inputs {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.AtlasAddWordPress_Inputs_FormField {
	margin: 0 5px;
}

.AtlasAddWordPress_Inputs > div > label {
	display: block;
	margin-bottom: 10px;
}

.FromAtlasBlueprints {
	max-width: 890px;
}
