.AtlasCheckboxSelect {
	padding-top: 30px;
}

.Theme__Dark .AtlasCheckboxSelect {
	border-top: 1px solid #5d5e5e;
}

.Theme__Dark .AtlasBlueprintCard {
	background-color: #434344;
	color: #c7c4c4;
}

.Theme__Light .AtlasBlueprintCard {
	color: #262727;
}

.Theme__Light .AtlasCheckboxSelect {
	border-top: 1px solid #e7e7e7;
}

.AtlasBlueprintList .AtlasBlueprintCard_Content {
	margin: 15px 19px 0 19px;
	line-height: 1.5;
}

.AtlasBlueprintCard .Title {
	margin-bottom: 0;
}

.AtlasTextLink {
	line-height: 1.5;
	margin-top: 5px;
	margin-left: 28px;
}

.SiteOverviewAddonSectionTooltip {
	max-width: 215px;
	margin: 10px 10px;
}

.SiteEnvironmentContinueButton {
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.AtlasBlueprintsDescription {
	max-width: 760px;
}

.AtlasBlueprintsDescription a {
	text-transform: initial;
	font-weight: 500;
	padding-left: 0px;
	padding-right: 0px;
}

.AtlasBlueprintList {
	display: flex;
	flex-wrap: wrap;
}

.AtlasBlueprintCard {
	width: 278px;
	margin-bottom: 10px;
	margin-right: 10px;
	flex-grow: initial;
	flex-shrink: initial;
}

.AtlasBlueprintCard_Links {
	margin-top: 20px;
}

.AtlasBlueprintCard_Links a {
	font-weight: 700;
}

.AtlasBlueprintCard_Links div {
	margin: 20px 0;
}

.AtlasBlueprintCard .AtlasBlueprintCard_HeaderIconContainer {
	padding: 0;
}

.AtlasBlueprintCard_Description {
	flex: 1;
}

.AtlasBlueprintsDescription a,
.AtlasBlueprintCard_Description a {
	font-weight: 700;
	color: #267048;
	text-decoration: underline;
}


.AtlasBlueprintsDescription a:active,
.AtlasBlueprintsDescription a:hover,
.AtlasBlueprintCard_Description a:active,
.AtlasBlueprintCard_Description a:hover {
	color: #51bb7b;
}


.Theme__Dark .AtlasBlueprintsDescription a,
.Theme__Dark .AtlasBlueprintCard_Description a {
    color: #51bb7b;
}

.Theme__Dark .AtlasBlueprintsDescription a:active,
.Theme__Dark .AtlasBlueprintsDescription a:hover,
.Theme__Dark .AtlasBlueprintCard_Description a:active,
.Theme__Dark .AtlasBlueprintCard_Description a:hover {
    color: #419564;
}

.AtlasBlueprintCard img {
	width: 100%;
	height: auto;
}

.AtlasAddWordPress_Inputs {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.AtlasAddWordPress_Inputs_FormField {
	margin: 0 5px;
}

.AtlasAddWordPress_Inputs > div > label {
	display: block;
	margin-bottom: 10px;
}

.FromAtlasBlueprints {
	max-width: 890px;
}
